!!! 5
html
  head
    //-link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
    //-script(src='/javascripts/lesscss.min.js')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')

    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/tail.js')

  body
    != body
